<h2>Failures</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Queue</th>
      <th>Class</th>
      <th>Args</th>
      <th>Failed At</th>
      <th>Error</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |failure|}}
      <tr>
        <td>{{failure.queue}}</td>
        <td>{{failure.class}}</td>
        <td>{{failure.args}}</td>
        <td>{{failure.failed_at}}</td>
        <td>
          <div class="failure-error-message">{{failure.error_message}}</div>
        </td>
        <td><button {{action 'removeFailure' failure on="click"}} class="btn btn-danger btn-xs">Delete</button></td>
      </tr>
    {{/each}}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="6"><button {{action "clearFailures" on="click"}} class="btn btn-danger btn-xs">Clear Dead Jobs List</button></td>
    </tr>
  </tfoot>
</table>
