<h1>{{model.class}}</h1>
<dl>
  <dt>Queue</dt>
  <dd>{{model.queue}}</dd>
</dl>

<dl>
  <dt>Failed at</dt>
  <dd>{{model.failed_at}}</dd>
</dl>

<dl>
  <dt>Retry count</dt>
  <dd>{{model.retry_count}}</dd>
</dl>

<dl>
  <dt>Arguments</dt>
  <dd><pre>{{model.prettyArgs}}</pre></dd>
</dl>

<button {{action 'removeRetry' model on="click"}} class="btn btn-danger btn-xs">Delete</button>
<button {{action 'requeueRetry' model on="click"}} class="btn btn-secondary btn-xs">Retry</button>
